<div class="row wuffo">
  <div class="small-12 small-centered columns">
    <fieldset>
      <legend>Hire me!</legend>

      <input type="text" placeholder="Your name.">
      <input type="text" placeholder="Your email">
      <textarea type="text" placeholder="Anything you think I should know upfront." class="non-resible"></textarea>

      <a href="" class="button large expand">Hit me!</a>
    </fieldset>
  </div>
</div>