<% @artists.each do |artist| %>
  <li class="full-size">
    <div class="image-panel">
      <div class="image-container">
      <%= image_tag artist.avatar.url(:thumb), class: "image" %>
      </div>
      <p class="image-caption"><%= artist.name %></p>
    </div>
  </li>
<% end %>