<% @artists.each do |artist| %>
  <li class="full-size">
    <div class="image-panel">
      <div class="image-container">
        <img src="" class="image">
      </div>
      <p class="image-caption"><%= artist.name %></p>
    </div>
  </li>
<% end %>