<div class="row">
  <div class="small-9 small-centered columns index-banner">
    <div class="row">
      <div class="small-9 small-centered columns index-banner">
        <p><strong>What's your jam?</strong> Show them the song of your people!</p>
      </div>
    </div>
  </div>
</div>

<% if flash[:notice] %>
  <div class="row content-top-margin">
    <div class="small-10 small-centered columns">
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<div class="row content-top-margin">
  <div class="small-10 small-centered columns">
    <ul class="small-block-grid-4">

      <%= render 'panel'%>

    </ul>
  </div>
</div>