<div class="row content-top-margin">
  <div class="small-10 small-centered columns">

    <ul class="small-block-grid-4">
      <li class="full-size">
          <div class="image-container">
            <img src="assets/metallica.jpg" class="image">
          </div>
        </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/sabbath.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/anitta.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/lenine.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/iron.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/daleste.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/taylor.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/megadeth.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/motorhead.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/sublime.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/queen.jpg" class="image">
        </div>
      </li>
      <li class="full-size">
        <div class="image-container">
          <img src="assets/audioslave.jpg" class="image">
        </div>
      </li>
    </ul>

  </div>
</div>