<div class="row content-top-margin">
  <div class="small-10 small-centered columns">

    <ul class="large-block-grid-4">
      <li><img src="assets/metallica.jpg" class="image"></li>
      <li><img src="assets/sabbath.jpg" class="image"></li>
      <li><img src="assets/anitta.jpg" class="image"></li>
      <li><img src="assets/lenine.png" class="image"></li>
      <li><img src="assets/iron.jpg" class="image"></li>
      <li><img src="assets/daleste.png" class="image"></li>
      <li><img src="assets/taylor.jpg" class="image"></li>
      <li><img src="assets/megadeth.jpg" class="image"></li>
      <li><img src="assets/motorhead.jpg" class="image"></li>
      <li><img src="assets/sublime.jpg" class="image"></li>
      <li><img src="assets/queen.jpg" class="image"></li>
      <li><img src="assets/audioslave.jpg" class="image"></li>
    </ul>

  </div>
</div>