body {
  font-family: "Ubuntu";
}

.bg-color {
  background-color: #eeeeee;
}

.topbar-customs {
  box-shadow: 0px 0px 10px #000;
  padding: 0 10%;
  z-index: 10;
}

.logo {
  font-size: 1.5em !important;
}

.full-size {
  width: 100%;
  height: 100%;
}

.image-panel {
  min-width: 100%;
  min-height: 100%;
  max-height: 200px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #bbb;
  text-align: right;
}

.image-container {
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;

  img {
    min-width: 100%;
    height: 100%;
  }
}

.image-caption {
  background-color: #fff;
  margin: 0 2.5px;
  font-size: 10px;
  color: #000;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: "Ubuntu";
}

.content-top-margin {
  margin-top: 40px;
}

.centered {
  display: inline-block;
  margin: 0 auto;
}

.page-footer {
  margin-top: 5px;
  padding: 15px 0 0 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  overflow: hidden;

  p {
    font-size: 10px;
    text-indent: justify;
    color: #666;
  }
}

.disclaimer {
  font-size: 12px;
  color: #999;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
}

.marginless {
  margin: 0;
}

.pagionation-button {
  margin: 2px;
}

.index-banner {
  background-color: #ddd;
  border-radius: 0 0 5px 5px;
  z-index: 1;

  p {
    color: #444;
    padding: 10px 0 0 0;
    font-size: 18px;
    text-align: center;

    strong {
      color: #000;
    }
  }
}

.non-resiseable {
  min-height: 150px;
  resize: vertical;
}

.hidden-input {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.notice {
  text-align: center;
}