<footer class="page-footer">
  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="large-4 columns">
        <h6 class="marginless"><strong>Garage</strong></h4>
        <h6 class="subheader marginless">What's your jam?</h6>
        <p class="footer-text"><strong>Garage</strong> is a community for musicians and bands to show their work, discuss new projects and connect to the people who love them and what they do.</p>
      </div>
      <div class="offset-1 large-7 columns">
        <p class="footer-text">Exorcizamus te, omnis immundus spiritus, omnis satanica potestas, omnis incursio infernalis adversarii, omnis legio, omnis congregatio et secta diabolica, in nomine et virtute Domini Nostri Jesu + Christi, eradicare et effugare a Dei Ecclesia, ab animabus ad imaginem Dei conditis ac pretioso divini Agni sanguine redemptis + . Supernatural rocks!</p>
        <p class="copyright">Copyright &copy; 2013 Garage. All images &copy; their respective owners. Rio de Janeiro, Brazil.</p>
      </div>
    </div>
  </div>

  <p class="disclaimer">
    Developed for Rails Rumble 2013 by <a href="https://github.com/FlaviaFortes">Flávia Fortes</a> and <a href="https://github.com/israveri">Israel Ribeiro</a></p>
</footer>